streamlit>=1.30
numpy
pandas
pillow
tqdm
requests

opencv-python-headless

# InsightFace / ONNX
insightface==0.7.3
onnxruntime==1.21.1

# HF stack (pin to avoid tokenizers build)
transformers==4.41.2
tokenizers==0.19.1
huggingface_hub==0.23.4
safetensors>=0.4.3
timm>=1.0.3

scikit-learn
