--extra-index-url https://download.pytorch.org/whl/cpu

streamlit==1.54.0

numpy==1.26.4
pandas
pillow
scikit-learn
scikit-image
scipy

opencv-python-headless==4.10.0.84

moviepy
imageio
imageio-ffmpeg

torch==2.2.2
torchvision==0.17.2

transformers==4.41.2
huggingface_hub==0.23.4
tokenizers
safetensors
timm

onnx==1.15.0
onnxruntime==1.17.3

insightface==0.7.3

requests
tqdm
